
.activity {
    display: flex;
    flex-direction: row;
    padding: 0.1em;
    border-bottom: 1px solid #ecf0f1;
}

.activity .description {
    margin-left: 1em;
}

.activity-panel{
    width: 90%;
    margin: auto;
}
.new-practitioners {
    display: flex;
    justify-content: space-around;
}
.new-practitioners > div {
    padding-top: 1em;
    text-align: left
}

@media 
only screen and (max-width: 768px) {
    .activity {
        flex-direction: column;
    }
    .activity .date {
        text-align: left
    }
    .activity .description {
        margin-left: 0;
        text-align: left;
    }
    .new-practitioners {
        justify-content: flex-start;
        flex-direction: column;
    }
}